/* src/index.css */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; /* Night mode background */
  color: white;
  font-family: 'Arial', sans-serif;
}

#root {
  height: 100%;
}